/* media varibles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: Tahoma, Arial;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* Start Header */
.header {
  border-bottom: 1px solid #d9d9d9;
}

.header .logo p {
  font-style: italic;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .header .logo h1 {
    font-size: 18px;
  }
  .header .logo p {
    font-size: 14px;
    letter-spacing: 0.2px;
  }
}

.header .navbar-toggler {
  background-color: #e2494c;
  box-shadow: none;
}
.header .navbar-toggler i {
  color: white;
}
.header .links {
  background-color: #e2494c;
}
.header .links li {
  font-size: 18px;
  padding: 20px 15px;
}
.header .links li a {
  color: white;
}
.header .links li a:hover,
.header .links li a.active {
  color: #ddd;
}

/* End Header */
/* Start Slider */
.slider blockquote {
  max-width: 90%;
  font-size: 18px;
  font-style: italic;
  color: #5e5e5e;
  margin: 25px auto;
  line-height: 1.7;
}
.slider .landing {
  background-image: url("../imgs/imageSlider-1.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
  color: #e2494c;
}
.slider .landing .fa-angle-double-left,
.slider .landing .fa-angle-double-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.slider .landing .fa-angle-double-left {
  left: 20px;
}
.slider .landing .fa-angle-double-right {
  right: 20px;
}
.slider .list {
  margin: 50px 0 20px;
}
.slider .list li {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #e2494c;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.slider .list li.active {
  background-color: #e2494c;
}

/* End Slider */
/* Start Services */
.services .service-box .service-title {
  color: #666;
}
.services .service-box .service-title i {
  font-size: 35px;
  position: relative;
  top: 2px;
}
.services .service-box .service-Desc {
  color: #777;
  line-height: 1.7;
}
.services .service-box .link {
  color: #e2494c;
}
@media (max-width: 565px) {
  .services .service-box {
    text-align: center;
  }
}

/* End Services */
/* Start players */
.players .players-box .players-title {
  color: #666;
  font-size: 18px;
}
.players .players-box .players-title span {
  font-weight: bold;
}
[dir="rtl"] .players .players-box .players-title span {
  display: inline-block;
}
.players .players-box .players-Desc {
  color: #777;
  line-height: 1.7;
  font-size: 14px;
}
.players .players-box .link {
  color: #e2494c;
}

/* End players */
/* Start portfolio */
.portfolio .links .active {
  background-color: #e2494c;
  color: white;
}
.portfolio .links li {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .portfolio .links li {
    padding: 0.3rem 0.6rem;
    font-size: 12px;
  }
}
.portfolio .links li:not(.active):hover {
  color: #e2494c;
}
.portfolio .box {
  overflow: hidden;
  position: relative;
}
@media (max-width: 565px) {
  .portfolio .box {
    flex-basis: 80%;
  }
}
@media (min-width: 566px) {
  .portfolio .box {
    flex-basis: 45%;
  }
}
@media (min-width: 768px) {
  .portfolio .box {
    flex-basis: 31%;
  }
}
@media (min-width: 1200px) {
  .portfolio .box {
    flex-basis: 23%;
  }
}
.portfolio .box::before {
  content: attr(data-work);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(226, 73, 76, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  top: -100%;
  z-index: 3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .box:hover::before {
  top: 0;
}
.portfolio .box:hover img {
  transform: scale(1.2) rotate(5deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* End portfolio */
/* Start Footer */
.footer {
  background-color: #e2e2e2;
}
.footer .gallery .content-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 565px) {
  .footer .gallery .content-box {
    flex-direction: column;
  }
}
.footer .gallery .content-box img {
  width: 150px;
  height: 100px;
}
.footer .gallery .content-box .text h4 {
  color: #444;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding-top: 10px;
}
.footer .gallery .content-box .text p {
  color: #888;
  margin-top: 5px;
  line-height: 1.5;
}
.footer .info ul li {
  color: #888;
}
.footer .info ul li span {
  color: #e2494c;
}
.footer .info h4 {
  color: #888;
}
.footer .info p {
  margin-top: 8px;
  color: #888;
}
.footer .contact .input {
  padding: 10px;
  width: 100%;
  border: 1px solid #c9c9c9;
  outline: none;
  margin-bottom: 10px;
  border-radius: 10px;
}
.footer .contact textarea {
  height: 140px;
}
.footer .title-section {
  color: #444;
  font-weight: normal;
  margin-bottom: 20px;
}
@media (max-width: 565px) {
  .footer .gallery,
  .footer .info,
  .footer .contact .title-section {
    text-align: center;
  }
}
.footer .copyright {
  border-top: 1px solid #c5c5c5;
}

/* End Footer */
.head-with-line {
  position: relative;
  margin: 0 auto 40px;
}
.head-with-line h2 {
  background-color: #e2494c;
  color: white;
  text-align: center;
  font-size: 25px;
  width: 500px;
  max-width: 80%;
  margin: auto;
  padding: 10px 15px;
  border-radius: 15px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .head-with-line h2 {
    font-size: 18px;
  }
}
.head-with-line h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: #d1d1d1;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.main-button {
  background-color: rgba(226, 73, 76, 0.8);
  color: white;
  min-width: 120px;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.main-button:hover {
  background-color: #e2494c;
}

.btn-backUp {
  right: 1.2rem;
  bottom: 1.8rem;
  width: 3rem;
  height: 3rem;
  background-color: #e2494c;
  color: white;
  line-height: 3rem;
}
