
@use "../helpers/mixins" as *;

*{
    margin: 0;
    padding: 0;
    @include prifixer(box-sizing , border-box , webKit Moz O );
}

body{
    background-color:#f6f6f6;
    font: {
        family:Tahoma , Arial ;
        size: 16px ;
    };
}

a{
    text-decoration: none;
}
